.side-menu {
    background-color: #ffffff71;
    min-width: 300px;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    position: relative;

    &-title {
        font-family: 'Berkshire Swash', cursive;
        text-align: center;
        font-size: 50px;
        margin-bottom: 60px;
        color: #ad8585;
        cursor: pointer;
    }

    &-item {
        cursor: pointer;
        text-align: end;
        font-size: 20px;
        margin: 10px 0;
        padding: 5px;
        color: rgb(121, 121, 121);
        border-bottom: 1px solid rgb(207, 207, 207);
        transition: all .3s;
        font-family: 'Ruslan Display', cursive;
    }

    &-item-active {
        color: black;
        border-bottom: 1px solid rgb(121, 121, 121);
    }

    .picture {
        position: absolute;
        bottom: 10px;
        left: 20px;
        overflow: hidden;
        width: 200px;
        height: 500px;

        img {
            position: absolute;
            left: -150px;
            bottom: -140px;
        }
    }
}