.not-found {
    overflow: hidden;
    position: relative;
    height: calc(100% - 82px);

    .kolyan {
        position: absolute;
        right: -150px;
        bottom: -390px;
        width: 1000px;
        transition: all .3s ease-in;
        transform: translateY(800px);
    }

    .kolyan-show {
        transform: translateY(0px);
    }

    h1 {
        text-align: center;
        font-size: 60px;
        margin-top: 180px;
        font-family: 'Ruslan Display', cursive;
        color: #938282;
    }
}